doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   nav
      a(href="/") Home
      a(href="stuff") Stuff
      a(href="one-more-time") Once Again
   block content